@media screen and (max-width: 960px) {
  header .web {
    display: none;
  }
  header .tablet {
    display: flex;
    justify-content: space-between;
  }
  header .tablet h1 {
    margin: 10px;
  }
  header .tablet h1 img {
    width: 45px;
  }
  header .tablet .tablet__icons {
    display: flex;
    flex-basis: auto;
  }
  header .tablet .tablet__icons .tablet__icon {
    margin: 0 20px;
    padding-top: 20px;
    line-height: 30px;
    line-height: 40px;
  }
  header .tablet .tablet__icons .tablet__icon img {
    width: 25px;
  }
}
@media screen and (min-width: 961px) {
  .tablet {
    display: none;
  }
}
header {
  background-color: #f6f5ef;
}
header a {
  color: #000;
}
header .border__top {
  border-top: 2px solid #000;
}

.bg-inner {
  display: flex;
  width: 1100px;
  margin: 0 auto;
}
.bg-inner .logo {
  display: flex;
  flex-flow: row nowrap;
  height: 78px;
  width: 78px;
  margin: 20px 0;
}
.bg-inner .menu {
  width: 1100px;
  height: 120px;
  background-color: #f6f5ef;
}
.bg-inner .menu .top-menu {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  line-height: 22px;
}
.bg-inner .menu .top-menu li {
  height: 15px;
  line-height: 20px;
  margin: 15px 0;
  padding: 0 16px;
  border-right: 1px solid #ccc;
}
.bg-inner .menu .top-menu li:nth-child(4) {
  border: 0;
}
.bg-inner .menu .top-menu .search {
  border: 0;
  margin-top: 8px;
  margin-right: 50px;
  padding: 0;
}
.bg-inner .menu .top-menu .search input {
  width: 150px;
  padding-top: 0;
  display: none;
}
.bg-inner .menu #main-menu {
  display: flex;
  justify-content: flex-end;
}
.bg-inner .menu #main-menu > li {
  font-size: 14px;
  margin-top: 7px;
  padding: 2% 2%;
  justify-content: center;
  height: 30px;
}
.bg-inner .menu #main-menu > li > div {
  flex-wrap: wrap;
  background-color: #2c2a29;
  width: 100%;
  position: absolute;
  left: 0;
  top: 120px;
  z-index: 5;
  display: none;
}
.bg-inner .menu #main-menu > li > div .inner {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.bg-inner .menu #main-menu > li > div .inner ul > li {
  font-size: 12px;
  flex-wrap: wrap;
  width: 210px;
  line-height: 20px;
}
.bg-inner .menu #main-menu > li > div .inner ul > li a {
  color: #999;
}
.bg-inner .menu #main-menu > li > div .inner ul > li h3 {
  font-size: 14px;
  padding: 15px 0;
  line-height: 30px;
}
.bg-inner .menu #main-menu > li > div .inner ul > li h3 a {
  color: #fff;
}
.bg-inner .menu #main-menu > li > div .inner ul:last-of-type {
  flex-basis: 0;
  width: 1100px;
}
.bg-inner .menu #main-menu > li .under {
  margin-top: 20px;
  padding: 8px 0;
  background-image: url(../img/under-bg.png);
  display: block;
}
.bg-inner .menu #main-menu > li .under section .down {
  padding: 20px 0;
  width: 500px;
  flex-direction: column;
  flex-wrap: wrap;
}
.bg-inner .menu #main-menu > li .under section .down li {
  font-size: 12px;
  color: yellowgreen;
  width: 1000px;
  padding: 0;
  line-height: 20px;
}
.bg-inner .menu #main-menu > li .under section .down li h4 {
  padding-top: 5px;
  font-size: 12px;
}
.bg-inner .menu #main-menu > li .under section .down li h4 a {
  color: #959999;
}
.bg-inner .menu #main-menu > li:hover {
  background-color: #2c2a29;
}
.bg-inner .menu #main-menu > li:hover > a {
  color: green;
  text-decoration: underline;
}/*# sourceMappingURL=header.css.map */