footer {
  a {
    font-size: 12px;
    color: white;
  }
}

.footer-bg {
  background-image: url(../img/footer-bg.png);
  display: flex;
  justify-content: center;

  ul {
    padding: 50px 50px;


    li {
      flex-wrap: nowrap;
      font-size: 12px;
      line-height: 22px;


      h3 {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 32px;
        font-weight: normal;

        a {
          font-size: 14px;
        }

      }
    }
  }

  ul:nth-child(1) {
    padding-left: 0;
    margin-left: -120px;

  }
}

.award {
  ul {
    display: flex;
    justify-content: center;
    background-color: #282828;
    padding: 30px 0;
  }
}

.bg {
  background-color: #2c2a29;

  .copyright {
    display: flex;
    justify-content: center;
    padding: 20px 0;

    li {
      padding: 0 10px;
      border-right: 1px solid #666;
    }
    li:first-child { 
      a{
        color: #00b500;
        font-weight: bold;
      }
    }

    li:last-child {
      border-right: 0;
    }

  }
  .map {
    display: flex;
    justify-content: center;

    li {
      width: 80px;
      text-align: center;
      margin: 5px;
      padding: 8px 20px;
      border: 2px solid white;
      border-radius: 5%;
    }
  }
  .tel {
    font-size: 12px;
    color: #999;
    margin: 20px 0;
    display: flex;
    justify-content: center;
  
  }
  p {
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #999;
    padding-bottom: 50px;
  }



}