* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #555;
}

body {
  font-size: 14px;
  font-family: Arial, "맑은고딕";
  border-top: 2px solid #000;
  position: relative;

}
header {
  background-color:#f6f5ef;;
}

section {
  display: flex;
  width: 1100px;
  margin: 0 auto;


  .logo {
    display: flex;
    flex-flow: row nowrap;
    height: 78px;
    width: 78px;
    margin: 20px 0;
  }

  .menu {
    width: 1100px;
    height: 120px;
    background-color: #f6f5ef;

    .top-menu {
      font-size: 13px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      line-height: 22px;

      li {
        height: 15px;
        line-height: 20px;
        margin: 15px 0;
        padding: 0 16px;
        border-right: 1px solid #ccc;

      }

      li:nth-child(4) {
        border: 0;

      }

      .search {
        border: 0;
        margin-top: 8px;
        margin-right: 50px;
        padding: 0;


        input {
          width: 150px;
          padding-top: 0;
          display: none;

        }
      }
    }

    #main-menu {
      display: flex;
      justify-content: flex-end;

      li {
        padding: 2% 2%;
        justify-content: center;

        div {
          display: none;
        }
        ////////////////////////////////////////////////////

        #coffee {
          flex-wrap: wrap;
          background-color: #2c2a29;
          width: 100%;
          position: absolute;
          left: 0;
          top: 120px;

          .inner {
            width: 1100px;
            margin: 0 auto;
            flex-wrap: wrap;

            ul {

              li {
                flex-wrap: wrap;;
                width: 210px;;
                a {
                  color: #999;
                }

                h3 {
                  font-size: 13px;
                  padding: 10px 0;
                  a {
                    color: #fff;
                  }
                }

              }
            }

            ul:last-of-type {
              flex-basis: 0;
              width: 1100px;
            }
          }
        }
        .under{
          margin-top: 20px;
          padding: 8px 0; 
          background-image: url(../img/under-bg.png);
          display: block;
          section {
            .down {
            padding: 20px 0;
            width: 500px;
            flex-direction: column;
            flex-wrap: wrap;
              
              li {
                font-size: 12px;
                color: yellowgreen;
                width: 1000px;
                padding: 0;
                line-height: 20px;
                
                h4 {padding-top: 5px;
                  font-size: 12px;
                  a{
                    color: #959999;
                  }
                }
               }
            }
  
        }  
      }
    }


   
  }

  }

}


