
body {
  color: #000;
  font-size: 12px;
  width: 100%;
}
a {
  text-decoration: none;
}

.main-banner-bg {
  background-image: url(../img/main-banner-bg.jpg);
  .main-coffee {
    position: relative;
    width: 100%;
    height: 646px;
    margin: 0 auto;

    li:nth-child(1) {
      position: absolute;
      left: 250px;
      top: 195px;
      animation: main-banner__poster 3s;
      }

    li:nth-child(2) {
      position: absolute;
      left: 925px;
      top: 172px;
      animation: main-banner__drink01 3s;

    }
    li:nth-child(3) {
      position: absolute;
      left: 680px;
      top: 71px;
      animation: main-banner__drink02 3s;

    } 
    li:nth-child(4) {
      position:absolute;
      left: 1175px;
      top: 50px;
      animation: main-banner__drink03 3s;
    }

    .txt-box {
      font-size: 14px;
      position: absolute;
      left: 345px;
      top: 410px;
      border: 2px solid #000;
      border-radius: 5px;
      padding: 10px 30px;
      animation: main-banner__txt-box 3s;


      a { 
        color: #000;
      }
    }
    .txt-box:hover {
      background-color: #fff;
      text-decoration: underline;
    }
    
    @keyframes main-banner__poster{
      0%{opacity: 0}
      20%{opacity: 1;}
      40%{opacity: 1;}
      60%{opacity: 1;}
      80%{opacity: 1;}
      100%{opacity: 1;}
    }
    @keyframes main-banner__drink01{
      0%{opacity: 0}
      20%{opacity: 0;}
      40%{opacity: 1;}
      60%{opacity: 1;}
      80%{opacity: 1;}
      100%{opacity: 1;}
    }
    @keyframes main-banner__drink02{
      0%{opacity: 0}
      20%{opacity: 0;}
      40%{opacity: 0;}
      60%{opacity: 1;}
      80%{opacity: 1;}
      100%{opacity: 1;}
    }
    @keyframes main-banner__drink03{
      0%{opacity: 0}
      20%{opacity: 0;}
      40%{opacity: 0;}
      60%{opacity: 0;}
      80%{opacity: 1;}
      100%{opacity: 1;}
    }   
    @keyframes main-banner__txt-box{
      0%{opacity: 0}
      20%{opacity: 0;}
      40%{opacity: 0;}
      60%{opacity: 0;}
      80%{opacity: 0;}
      100%{opacity: 1;}
    }
 }
}

//공지사항 시작 //

.notice-txt {
  display: flex;
  .notice-left {
    width: 60%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    background-color: #000;

    li {
      line-height: 60px;
      margin: 0 10px;
      color: #fff;
      font-size: 14px;
      

      a {
        color: #fff;
      }
      h2 {
        font-size: 16px;
      }
    }

    .plus-btn {
      padding: 0;
      margin: 0 20px;
      margin-top: 12px;
      font-size: 30px;
      line-height: 28px;
      width: 35px;
      height: 35px;
      border: 1px solid #fff;
      border-radius: 40px;
      text-align: center;
      a {
        color: #fff;
      }
    }
    .notice__slide-up {
      padding-right: 180px;
    }
  }
  .notice-right {
    background-color: #f6f5ef;;
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    li {
      line-height: 40px;
      margin: 10px 30px;
      h2 {
        flex-basis: auto;
        margin-left: 50px;
        font-size: 18px;
        font-weight: bold;
        margin-left: 180px;
       }
    }
  }
}

.slide {
  background-color: #f6f5ef;
  width: 820px;
  margin: 0 auto;
  position: relative;
  .slide__item {border: 1px solid green;
    display: flex;
    width: 2490px;
    margin-left: -100%;
    .slide__banner {border: 1px solid red;
      margin: 0 5px;
      position: relative;
    }

    .more__btn{
      border: 2px solid #000;
      border-radius: 5px;
      padding: 10px 23px;
      position: absolute;
      bottom: 1%; 
      left: 41%;
      transition: background-color 0.5s;

      a {
        color: #000;
        font-size: 13px;
        transition: color 0.5s;
      }
 
    }
    :hover{ 
      background-color: #000;
    :hover a{
      color: #fff;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  }
  
  .slide__btn {border: 1px solid green;
    width: 1000px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: -9%;


    #next, #prev{
      line-height: 40px;
      text-align: center;
      font-size: 45px;
      width: 50px;
      height: 50px;
      border: 2px solid #000;
      border-radius: 50px;
      cursor: pointer;
      }
    #next:hover{
      background-color: #fff;
    }
    #prev:hover{
      background-color: #fff;
    }
   
  }
}


.slide__play {
  margin-top: 20px;
  width: 100%;
  margin: 20px auto;

  .slide__play__btn {
    display: flex;
    justify-content: center;
      
    &>li {
      margin: 0 3px;
      margin-bottom: 20px;
    }
  

  }
}
